.PictureContainer{
    width: 20em;
    height: 20em;
    background: black;
    margin: 10px;
    border-radius: 2.5%;
    color: white;
}

.PictureSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}